# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/
test-results/

# Production Build
dist/
build/
out/

# Next.js
.next/
next-env.d.ts

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
! .env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
.vercel
.env*.local
